body {
  background-color: #454545;
  color: #999999;
}
.git-holder {
  background-color: #222222;
  padding: 15px;
  margin-bottom: 15px;
}
.git-footer {
  background-color: #222222;
  padding: 100px;
}
.git-menu-list {
  list-style: none;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  margin: 0;
  padding: 0;
}
.git-repo-menu-cell {
  word-wrap: break-word;
  background-color: #ffff00;
  margin: 1px 0 1px 0;
}
.git-repo-menu-cell a {
  color: #d3ec0e;
}
.git-repo-menu-cell .git-repo-menu-cell-inner {
  display: block;
}
.git-main-display {
  word-wrap: break-word;
  background-color: #454545;
}
/*  OVERRIDES FOR BOOTSTRAP */
.jumbotron {
  background-color: #d3ec0e;
}
