body {
  background-color: #454545;
  color: #999999;
}
.hide {
  display: none;
}
.git-holder {
  background-color: #222222;
  padding: 15px;
  margin: 15px 0;
}
.git-footer {
  background-color: #222222;
  padding: 100px;
}
.git-menu-list {
  list-style: none;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  margin: 0;
  padding: 0;
}
.git-repo-menu-cell {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  opacity: 0.4;
  background-color: #222222;
  word-wrap: break-word;
  margin: 1px 0 1px 0;
  position: relative;
  height: 30px;
}
.git-repo-menu-cell a {
  color: #999999;
}
.git-repo-menu-cell.active {
  opacity: 1;
}
.git-repo-menu-cell:not(.active):hover {
  opacity: .9;
  color: #ffffff;
}
.git-repo-menu-cell .cell-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 0;
}
.git-repo-menu-cell .cell-icon img {
  height: 30px;
}
.git-repo-menu-cell .cell-title {
  position: absolute;
  left: 45px;
  top: 5px;
}
.git-repo-menu-cell .git-repo-menu-cell-inner {
  width: 100%;
  height: 100%;
}
.git-main-display {
  word-wrap: break-word;
  background-color: #454545;
}
.git-main-display h3 {
  color: #d3ec0e;
}
.git-main-display a {
  color: #ffffff;
}
.git-main-display a:hover {
  color: #d3ec0e;
  text-decoration: none;
}
ul.issues {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.issues a {
  color: #ffffff;
}
ul.issues a:hover {
  color: #d3ec0e;
  text-decoration: none;
}
ul.issues li {
  border-top: 1px dotted #ffffff;
}
/*  OVERRIDES FOR BOOTSTRAP */
.jumbotron {
  background-color: #d3ec0e;
}
