<div id="lineChartRender"></div>
        <div ng-class="{hide: items.length == 0}" class="chart-buttons">
            <button class="btn btn-default" type="button" ng-click="setChartYValue('stargazers_count')">stargazers</button>
            <button class="btn btn-default" type="button" ng-click="setChartYValue('open_issues')">open issues</button>
            <button class="btn btn-default" type="button" ng-click="setChartYValue('forks_count')">forks</button>
        </div>
<div class="git-holder">




<div class="row">
    <div class="col-xs-6 col-md-4"><input class="form-control" type="text" ng-model="searchTerm"/> </div>
    <div class="col-xs-6 col-md-4"><button type="submit" class="btn btn-success" ng-click="searchOn(searchTerm)">Search</button></div>
    <div class="col-xs-6 col-md-4"><p>{{loaded}}</p></div>
</div>


</div>

<div class="col-md-4">
    <ul class="git-menu-list">
        <menu-cell></menu-cell>
    </ul>
</div>
<div class="col-md-8">
 <main-project-display></main-project-display>
</div>

</div>