<li data-ng-repeat = "(key, item) in items">
    <a ng-click="setActiveRepo(key)">
        <div class="photoSetGallery">
            <!--<img ng-src="{{ps.primary_photo_extras.url_sq}}" height='{{ps.primary_photo_extras.height_sq}}' width='{{ps.primary_photo_extras.width_sq}}' imageonload/>-->
            <div class="thumbTitle">
                <h1>{{key}}</h1>
                <div class="innerTitle">{{item.$$hashKey}}</div>
                <div class="innerTitle">{{item.owner.url}}</div>
                <div class="innerTitle">{{item.stargazers_url}}</div>
                <img ng-src="{{item.owner.avatar_url}}" width="100px" />
                <a ng-click="searchIssues(full_name)">Get Issues</a>
            </div>
        </div>
    </a>
</li>