<div class="git-holder">
    <a ng-click="searchOn(searchTerm)">search</a>
    <input type="text" ng-model="searchTerm"/>
    <p>{{searchTerm}}</p>


</div>

<div class="col-md-4">
    <ul>
        <menu-cell></menu-cell>
    </ul>
</div>
<div class="col-md-4 selectedItem">
        <h3> Satagazers: {{selectedRepo.stargazers_url}} </h3>
</div>
<div class="col-md-4">
    <h2>Heading</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
</div>
</div>